html {
  color-scheme: dark;
}

.tabela {
  min-width: 500px;
  background: #323232;
  padding: 1rem;
  border-collapse: collapse;
}

.tabela caption {
  text-transform: uppercase;
  height: 2rem;
  font-size: 1.2em;
}

.tabela th {
  background: hsl(0 0% 0% / 0.5);
}

.tabela th,
.tabela td,
.tabela caption {
  padding: 24px;
}

.tabela tr td:nth-child(1),
.tabela tr td:nth-child(3),
.tabela tr td:nth-child(4) {
  text-align: center;
}

.tabela tr td:nth-child(4) button {
  margin-right: 10px;
}

.tabela tr:nth-of-type(2n) {
  background: hsl(0 0% 0% / 0.1);
}

.tabela tr:hover {
  background: hsl(0 0% 0% / 0.2);
}
@media (max-width: 500px) {
  .tabela {
    min-width: 100%;
  }
  .tabela thead {
    display: none;
  }
  .tabela tr td {
    display: grid;
    grid-template-columns: 15ch auto;
  }
  .tabela tr td:nth-child(1),
  .tabela tr td:nth-child(3),
  .tabela tr td:nth-child(4) {
    text-align: left;
  }
  .tabela tr td::before {
    /*content: attr(data-cell);*/
    font-weight: 700;
    text-transform: capitalize;
  }

  .tabela tr td:nth-child(1)::before {
    content: "id";
  }

  .tabela tr td:nth-child(2)::before {
    content: "cidade";
  }

  .tabela tr td:nth-child(1)::before {
    content: "estado";
  }
  .tabela tr td:nth-child(4)::before {
    grid-template-columns: auto auto;
  }
}
