.sectionModal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	backdrop-filter: blur(1px);
	display: flex;
	justify-content: center;
	align-items: center;
}

.dataShow {
	width: 400px;
	height: 400px;
	background: #fff;
	color: #000;
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	padding: 5px;
}

.dataShow header,
.dataShow footer {
	height: 1.2rem;
}

.dataShow header {
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid black;
}

.dataShow footer {
	display: flex;
	justify-content: flex-end;
	border-top: 2px solid black;
}

.dataShow main {
	flex: 1;
	padding-top: 10px;
	padding-bottom: 10px;
}
